* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(planets/space-background.jpg)
}

.wrapper {
   height: 400%;
   width: 400%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pluto-container {
    position: absolute;
    height: 2000px;
    width: 2000px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;   
}

.pluto-container > img {
    height: 50px;
    width: 50px;
    animation: pluto-rotation 64314ms linear infinite;
    }

.neptune-container {
   position: absolute;
   height: 1800px;
   width: 1800px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;   
}

.neptune-container > img {
height: 100px;
width: 100px;
animation: neptune-rotation 53954ms linear infinite;
}

.uranus-container {
   position: absolute;
   height: 1600px;
   width: 1600px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;   
}

.uranus-container > img {
   height: 100px;
   width: 100px;
   animation: uranus-rotation 37054ms linear infinite;
}

.saturn-container {
   position: absolute;
   height: 1400px;
   width: 1400px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;   
}

.saturn-container > img {
   height: 155px;
   width: 155px;
   animation: saturn-rotation 33218ms linear infinite;
}

.jupiter-container {
   position: absolute;
   height: 1200px;
   width: 1200px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;   
}

.jupiter-container > img {
   height: 150px;
   width: 150px;
   animation: jupiter-rotation 27339ms linear infinite;
}

.mars-container {
   position: absolute;
   height: 1000px;
   width: 1000px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;   
}

.mars-container > img {
   height: 90px;
   width: 90px;
   animation: mars-rotation 12684ms linear infinite;
}

.earth-container {
   position: absolute;
   height: 800px;
   width: 800px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;   
}

.earth-container > img {
   height: 100px;
   width: 100px;
   animation: earth-rotation 11079ms linear infinite;
}

.venus-container {
   position: absolute;
   height: 600px;
   width: 600px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;   
}

.venus-container > img {
   height: 90px;
   width: 90px;
   animation: venus-rotation 7259ms linear infinite;
}

.mercury-container {
   position: absolute;
   height: 400px;
   width: 400px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;   
}

.mercury-container > img {
   height: 55px;
   width: 55px;
   animation: mercury-rotation 5768ms linear infinite;
}

.sun-container {
   position: absolute;
   height: 0px;
   width: 0px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid white;  
}

.sun-container > img {
   height: 1200px;
   width: 1200px;
   animation: sun-rotation 64268ms linear infinite;
}



@keyframes pluto-rotation {
    
    0% {
       transform: rotate(0deg) translate(1000px) rotate(0deg);
    }
    
    100% {
       transform: rotate(360deg) translate(1000px) rotate(360deg);
     }
    }

@keyframes neptune-rotation {
    
0% {
   transform: rotate(0deg) translate(900px) rotate(0deg);
}

100% {
   transform: rotate(360deg) translate(900px) rotate(360deg);
 }
}

@keyframes uranus-rotation {

0% {
   transform: rotate(0deg) translate(800px) rotate(0deg);
}
   
100% {
    transform: rotate(360deg) translate(800px) rotate(360deg);
 }
}
   
@keyframes saturn-rotation {
 
0% {
    transform: rotate(0deg) translate(700px) rotate(0deg);
 }
      
100% {
    transform: rotate(360deg) translate(700px) rotate(360deg);
  }
 }
      
@keyframes jupiter-rotation {

 0% {
 transform: rotate(0deg) translate(600px) rotate(0deg);
}
         
100% {
 transform: rotate(360deg) translate(600px) rotate(360deg);
  }
 }
         
 @keyframes mars-rotation {

0% {
transform: rotate(0deg) translate(500px) rotate(0deg);
  }
           
100% {
transform: rotate(360deg) translate(500px) rotate(360deg);
  }
 }
            
 @keyframes earth-rotation {

0% {
transform: rotate(0deg) translate(400px) rotate(0deg);
    }
              
100% {
transform: rotate(360deg) translate(400px) rotate(360deg);
    }
 }
               
 @keyframes venus-rotation {

   0% {
   transform: rotate(0deg) translate(300px) rotate(0deg);
       }
                 
   100% {
   transform: rotate(360deg) translate(300px) rotate(360deg);
       }
    }
                  
               
 @keyframes mercury-rotation {

   0% {
   transform: rotate(0deg) translate(200px) rotate(0deg);
       }
                 
   100% {
   transform: rotate(360deg) translate(200px) rotate(360deg);
       }
    }

    @keyframes sun-rotation {

      0% {
      transform: rotate(0deg) translate(0px) rotate(0deg);
          }
                    
      100% {
      transform: rotate(360deg) translate(0px) rotate(360deg);
          }
       }
 
      